{% block alert %}
<style>
.alert {
position:absolute;
width: 100%;
z-index:1;
text-align: center;

}


</style>

<nav id="successAlert" class="alert alert-success alert-dismissible fade show " role="alert" style="display:none" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Profile Updated!</strong>
</nav>
<nav id="errorAlert" class="alert alert-danger alert-dismissible fade show " role="alert" style="display:none" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Error In Profile!</strong> Please check fields and try again. If error persists, please contact Helpdesk
</nav>

<nav id="successLoginAlert" class="alert alert-success alert-dismissible fade show " role="alert" style="display:none" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Login Success!</strong>
</nav>
<nav id="errorLoginAlert" class="alert alert-danger alert-dismissible fade show " role="alert" style="display:none" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Login Failed!</strong> Please check fields and try again. If error persists, please contact Helpdesk
</nav>


<nav id="successRegisterAlert" class="alert alert-success alert-dismissible fade show " role="alert" style="display:none" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Registration successful!</strong>
</nav>
<nav id="errorRegisterAlert" class="alert alert-danger alert-dismissible fade show " role="alert" style="display:none" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Registration Failed!</strong> Please check fields and try again. If error persists, please contact Helpdesk
</nav>

{% endblock %}
