{% block alert %}
<style>
.alert {
position:fixed;
width: 100%;
z-index:1;
text-align: center;

}


</style>

<nav id="successAlert" class="alert alert-success alert-dismissible fade show " role="alert" style="display:none" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Profile Updated!</strong>
</nav>
<nav id="errorAlert" class="alert alert-danger alert-dismissible fade show " role="alert" style="display:none" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Error In Profile!</strong> Please check fields and try again. If error persists, please contact Helpdesk
</nav>

<nav id="successLoginAlert" class="alert alert-success alert-dismissible fade show " role="alert" style="display:none" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Login Success! Taking You To Your Profile....</strong>
</nav>
<nav id="errorLoginAlert" class="alert alert-danger alert-dismissible fade show " role="alert" style="display:none" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Login Failed!</strong> Please check fields and try again. If error persists, please contact Helpdesk
</nav>


<nav id="successRegisterAlert" class="alert alert-success alert-dismissible fade show " role="alert" style="display:none" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Registration successful! Taking You To Login Page....</strong>
</nav>
<nav id="errorRegisterAlert" class="alert alert-danger alert-dismissible fade show " role="alert" style="display:none" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Registration Failed!</strong> Please check fields and try again. If error persists, please contact Helpdesk
</nav>
<nav id="usernameerrorRegisterAlert" class="alert alert-danger alert-dismissible fade show " role="alert" style="display:none" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Username already exists!</strong> Please enter a different username and try again. If error persists, please contact Helpdesk
</nav>
<nav id="ageerrorRegisterAlert" class="alert alert-danger alert-dismissible fade show " role="alert" style="display:none" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Invalid Age!</strong> Members must be 18+
</nav>

<nav id="followMembersuccessAlert" class="alert alert-success alert-dismissible fade show " role="alert" style="display:none" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>You have added a new friend! If they follow you back you will see them in the matches tab!</strong>
</nav>

<nav id="followMembererrorAlert" class="alert alert-danger alert-dismissible fade show " role="alert" style="display:none" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Follow failed!</strong> Please try again. If error persists, please contact Helpdesk
</nav>
{% endblock %}
