{% extends "thunderapp/base.html" %}
{% block content %}
<span class='info'>&#8658; You must be logged in to view this page.</span>
<br>
<br>
<br>
<span class='main'>
		Welcome to {{ appname }}, please sign up and/or log in to join in.
	</span>
<br>

    {% if loggedin %}
<div class='appname'>{{ appname }} ({{ username }}) </div>
{% else %}
<div class='appname'>{{ appname }}</div>
{% endif %}
<br>
<br>
{#    TODO#}
{#    If  user is logged in we want to show the profile here  else show login page#}

<br>
{% include "thunderapp/login.html" %}

<br>


<br>
{% endblock %}
