{% extends "thunderapp/base.html" %}

{% load staticfiles %}

{% block content %}
{% block alert %}
{% include "thunderapp/alerts.html" %}
{% endblock %}
<div class="container-fluid w3-animate-left carousel-fade" >
    <section class="container">
        <div class="container-page">
            <div class='main-login main-centre'>
                <br>
                <div class="bordercontainer" >
                    <img id='img' class="img-fluid" alt="Not found"  height=100 width="1500" src="{% static '/border.png' %}">

                    <div class="centered">Suggested matches:</div>
                    <br>
                </div>
                <div class="bordercontainer text-white bg-dark">
                <input type="text" id="search" name="search" placeholder="Filter Members"/>
                    <span>

                             <input type="radio" id="genderBtn1" name="genderBtn" checked="checked" value=''> All
                        <input type="radio" id="genderBtn2" name="genderBtn" value="Male"> Male
                    <input type="radio" id="genderBtn3" name="genderBtn" value="Female"> Female

                    </span>
                </div>
                <br>
<br>
                {% block search %}
                {% include "thunderapp/searchmembers.html" %}
                {% endblock %}
            </div>
        </div>
    </section>
</div>
<style>
    .bordercontainer {
        position: relative;
        text-align: center;
        color: white;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        text-align: center;
    }
    .profileImage{
        height:150px;

        max-width:150px;
    }


</style>
{% endblock %}
