{% extends "thunderapp/base.html" %}
{% load staticfiles %}

{% block content %}
<div id="profile" class="container-fluid w3-animate-left carousel-fade" >
    <section class="container">
        <div class="container-page">
            <div class='main-login main-centre'>
                <br>
                <div class="bordercontainer">
                    <img id='img' class="img-fluid" alt="Not found"  height=100 width="1500" src="{% static '/border.png' %}">

                    <div class="centered">Your Match List</div>
                    <br>

                </div>
                <br>
            </div>
        </div>
    </section>
</div>


<div id="profile" class="container-fluid w3-animate-left carousel-fade " >

    <section class="container">
        <div class="container-page">
            <div class='main-login main-centre'>
    <div class="card-columns w3-animate-bottom" >
        {% for match in currentMember %}
            {% url 'friendprofile' as profile_url %}
            <a href="{{ profile_url }}/profile/{{ match.pk }}">
            <div class="card" style="width: 18rem; height: 30%; border-color: #e1000e">
                {% if match.profileImage %}
                <img id='imagecard' class=" img-fluid card-img-top" style=" max-width: 18em; height: 80%;" alt="Not found" onerror="this.src='{{STATIC_URL}}/static/image-not-found.png'" height=150 src='{{ match.profileImage.url }}'>

                {% else %}

                <img id='imagecard' class="img-fluid card-img-top" style=" max-width: 18em; height: 80%;" alt="Not found" height=150 src="{% static '/profile-image.jpg' %}">

                {% endif %}
              <h4 class="card-title"><b>. {{ match.firstName }}</b></h4>
            </div>
            </a>
        {% endfor %}
    </div>

    <style>
        h3 {
            color: white;
        }

        body {
          counter-reset: section;                     /* Set a counter named 'section', and its initial value is 0. */
        }

        b::before {
          counter-increment: section;                 /* Increment the value of section counter by 1 */
          content: counter(section);                  /* Display the value of section counter */
        }
         .bordercontainer {
             position: relative;
             text-align: center;
             color: white;
         }

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 25px;
            text-align: center;
        }


    </style>

            </div>
        </div>
    </section>
</div>
{% endblock %}

