{% extends "thunderapp/base.html" %}
{% load staticfiles %}


{% block content %}

{% if member.profileImage %}
    <img id='profile-img' height=150 src='{{ member.profileImage.url }}'>
{% else %}

<img id='profile-img' height=150 src="{% static '/profile-image.jpg' %}">
{% endif %}
<br>
    {% csrf_token %}

    Select Profile Picture: <input type="file" name="myFile" id='regprofileimage{{member.id}}'>
    <button id="save{{member.id}}" onclick="uploadProfilePicture('{{member.id}}')">Save</button>
{% endblock %}
