{% extends "thunderapp/base.html" %}
{% load staticfiles %}


{% block content %}

<style>
    .bordercontainer {
        position: relative;
        text-align: center;
        color: white;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 55px;
        text-align: center;
    }
     .profileImage{
         height:200px;

         max-width:200px;
     }


</style>

{% block alert %}


{% include "thunderapp/alerts.html" %}


{% endblock %}


<div id="profile" class="container-fluid w3-animate-left carousel-fade" >
    <section class="container">
        <div class="container-page">
            <div class='main-login main-centre'>
                <br>
                <div class="bordercontainer">
                    <img id='img' class="img-fluid" alt="Not found"  height=100 width="1500" src="{% static '/border.png' %}">

                    <div class="centered">{{member.username}}</div>
                    <br>

                </div>
                <br>

                <div class="bordercontainer">
                    {% if loggedin %}

                    <label id="profilePicture" for="regprofileimage{{member.id}}"  data-toggle="tooltip" title="Upload Profile Image">

                        {% if member.profileImage %}
                        <img id='profile-img' class="rounded-circle img-fluid profileImage" alt="Not found" onerror="this.src='{{STATIC_URL}}/static/image-not-found.png'" height=150 src='{{ member.profileImage.url }}'>

                        {% else %}

                        <img id='profile-img' class="rounded-circle img-fluid profileImage" alt="Not found" height=150 src="{% static '/profile-image.jpg' %}">

                        {% endif %}
                    </label>
                    {% else %}
                    <label id="profilePicture" data-toggle="tooltip" title="Upload Profile Image">

                        {% if member.profileImage %}
                        <img id='profile-img' class="rounded-circle img-fluid profileImage" alt="Not found" onerror="this.src='{{STATIC_URL}}/static/image-not-found.png'" height=150 src='{{ member.profileImage.url }}'>

                        {% else %}

                        <img id='profile-img' class="rounded-circle img-fluid profileImage" alt="Not found" height=150 src="{% static '/profile-image.jpg' %}">

                        {% endif %}
                    </label>
                    {% endif %}

                </div>

<div>
    <br>
    {% if loggedin %}

            <button id="save{{member.id}}" class="btn btn-lg btn-primary btn-block" onclick="updateProfile('{{member.id}}')">Save Profile</button>



    <br>

<span class="text-white bg-dark">First Name: <input type="text" class="form-control" id="profilefirstname" value="{{member.firstName}}"> </span>
<br>

<span class="text-white bg-dark">Last Name: <input type="text" class="form-control" id="profilelastname" value="{{member.lastName}}"></span>
    <br>
    <span class="text-white bg-dark">Gender: <input type="text" readonly class="form-control" id="profilegender" value="{{member.gender}}"></span>
    <br>


<span class="text-white bg-dark">Date Of Birth: <input type="text" readonly class="form-control" id="profileDOB" value="{{member.dateOfBirth}}"></span>
    <br>

    <span class="text-white bg-dark">Email: <input type="text"  class="form-control" id="profileemail" value="{{member.email}}"></span>
    <br>    <input type="file" name="myFile" id='regprofileimage{{member.id}}' onchange={uploadProfilePicture(event,'{{member.id}}')} style="display:none" >

    <div class="form-group ">
        <label for="profilehobby" class="text-white bg-dark">Hobbies</label>
        <select  id="profilehobby" name="hobbies" multiple="multiple">
            {% for value in Hobby %}
                {% if value in member.hobbies.all %}
                <option selected value="{{value.hobby}}">{{value.hobby}}</option>
                {% else %}
                <option value="{{value.hobby}}">{{value.hobby}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    {% endif %}

</div>

<br>
    {% csrf_token %}


                {% if not loggedin %}

                <br>

                <span class="text-white bg-dark">First Name: <input type="text" readonly class="form-control" id="profilefirstname" value="{{member.firstName}}"> </span>
                <br>

                <span class="text-white bg-dark">Last Name: <input type="text" readonly class="form-control" id="profilelastname" value="{{member.lastName}}"></span>
                <br>
                <span class="text-white bg-dark">Gender: <input type="text" readonly class="form-control" id="profilegender" value="{{member.gender}}"></span>
                <br>


                <span class="text-white bg-dark">Date Of Birth: <input type="text" readonly class="form-control" id="profileDOB" value="{{member.dateOfBirth}}"></span>
                <br>

                <span class="text-white bg-dark">Email: <input type="text"  class="form-control" readonly id="profileemail" value="{{member.email}}"></span>
                <br>
                {% endif %}


            </div>

            <br>

    </div>

    <br>
        {% csrf_token %}

        <input type="file" name="myFile" id='regprofileimage{{member.id}}' onchange={uploadProfilePicture(event,'{{member.id}}')} style="display:none" >
    </section>
            </div>


{% endblock %}
